* {
   font-family:'Open sans';
}  
body { 
    margin: 0;
    margin-top: 0;
    padding: 10px;
    background: url(../images/background.jpg) no-repeat center fixed; 
    background-size: cover;
    background-position: 0% 50%;
    opacity: 1;
    filter:alpha(opacity=1);
    box-shadow: inset 0px 0px 400px 400px rgba(0,0,0,0.7);
}
#page {
    width: 1150px;
    margin: auto;
}
@media (max-width:768px) {
    #page {
        width: 100%;
        margin: auto;
    }
}
/* DEBUT NAVIGATION */
nav#menu_principal {
    margin-top: 30px;   
}
nav#menu_principal ul{
    text-align: center;
}
nav#menu_principal ul li {
    list-style-type: none;
    text-transform: uppercase; 
    display: inline;
    margin-right: 35px;
    color: #ddd;
}
nav#menu_principal ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: #ddd;
}
nav#menu_principal ul li a.active {
    font-weight: 600;
}
.music:hover {
    position: relative;
}
.music:hover .sous_menu {
    display: block;
}
.sous_menu {
    display: none;
    position: absolute; 
    left: -20px;
    background: #000;
    margin-top: 10px; 
    height: 125px;
    width: 195px;
}
.sous_menu:before {
    content:url("../images/fleche_haut.png");
    position:relative; 
    left:-105px; 
    top: -30px;
}
.sous_menu li a {
    text-transform: capitalize;
    display:block; 
    text-align: left;
    margin-left:-40px;
    margin-top: -24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; 
    padding-left: 10px;
    padding-bottom: 10px;
}
.sous_menu li a:hover {
    font-weight: 600;
}
#menu_principal.sous_menu li:last-child {
    border-bottom: red;
}
#menu_principal.sous_menu li a:hover {
    font-weight: 600;
}
/* DEBUT MENU BURGER */
.burger{
	position:relative;
    margin: auto;
	width:100px;
	height:20px;
    right: 10px;
    top: -20px;
	cursor:pointer;
    display: none;
}
#btn {
    display: none;
}
@media (max-width:768px) {
    .burger{	
	    display:block;
}
    .burger::after{
        position: absolute;
        content: " menu";
        text-transform: uppercase;
        margin-top: 3px;
        margin-left: 2px;
        line-height: 20px;
        font-size: 24px;
    } 
    #btn {
        display: none;
    }
[id^=btn]:checked + ul { display: block; }
    nav ul {
        display:none;
    }
    nav#icones ul {
        display: block;
    }
    nav#menu_principal ul {
        margin: auto;
        margin-top: 0px;
        margin-left: 5px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 80%;
    }
    nav#menu_principal ul li {
        display: block;
        width: 260px;
        background: #000;
        text-align: left;
        margin-left: -40px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }   
    nav#menu_principal ul li a:hover {
        font-weight: 600;
    }
    nav#menu_principal ul.sous_menu {
        display: none;
    }
}
/* FIN MENU BURGER */

/* FIN NAVIGATION */
h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    color: #fff;
}
.titre {
    margin-top: 35px;   
    margin-bottom: -30px;
}
@media (max-width:768px) {
    .titre {
        font-size: 2.4em;
    }
}
h1.contact {
    font-weight: 600;
    font-size: 25px;
    margin-top: 60px;
}
.ligne_horizontale {
    border-top:1px solid #fff;    
}
section.formulaire {
    margin-top: 40px;
}
.gauche {
    float: left;
    position:relative;
    width: 575px;
}
@media (max-width:768px) {
    .gauche {
        width: 100%;
    }
}
/* DEBUT FORMULAIRE DE CONTACT */
label {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ddd;    
}
input[type=text],[type=email],[type=url],[type=search] {
    border: 1px solid #acacac;   
    display: block;
    width: 325px;
    height: 40px;
    background: #000;
    opacity: 0.35;
    font-size: 18px;
    padding-left: 5px;
    color: #ddd;
    text-transform: uppercase;
    margin-bottom: -5px;
}
@media (max-width:768px) {
    input[type=text],[type=email],[type=url],[type=search] {
        width: 96%;
    }
}
@media (max-width:768px) {
    input[type=search] { 
        margin-top: 20px;
        margin-bottom: -40px;
    }   
}
input[type=url] {
    margin-bottom: 15px;
}
textarea {
    border: 1px solid #acacac;   
    display: block;
    width: 600px;
    height: 200px;
    font-size: 18px;
    padding-left: 5px;
    color: #ddd;
    text-transform: uppercase;
    background: #000;  
    opacity: 0.35;
    margin-bottom: 0px;
}
@media (max-width:768px) {
    textarea {
        width: 96%;
    }
}
button {
    height: 40px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 3px;
    background: #222;
    border: 1px solid #acacac; 
    color: #ddd;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}
button:after{
    content:" >>";
}
/* TOOLTIPS */
input:focus {
    box-shadow: 0 0px 15px 0px red;
	}
.correct {
    box-shadow: 0 0px 15px 0px green;
	}
.correct:focus {
    box-shadow: 0 0px 15px 0px green;
	}
.incorrect {
    box-shadow: 0 0px 15px 0px red;
	}
.incorrect:focus {
    box-shadow: 0 0px 15px 0px red;
	}
.infosBulle {
    position: absolute;
	display: block;
    margin-left: -3px;
    margin-top: 3px;
    width: 300px;
	padding: 2px 4px;
    color: red;
    font-size: 12px;
    text-transform: uppercase;
	}
@media (max-width:768px) {
    .infosBulle {
        margin-top: 3px;
        } 
}    
.required {
    font-size: 15px;
    font-weight: 300;
}
/* FIN FORMULAIRE DE CONTACT */
.droite {
    float: left;
    margin-left: 240px;
    width: 332px;
}
@media (max-width:768px) {
    .droite {
        margin-left: 0;
        width: 100%;
    } 
}
h1.news {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin-top: 60px;
}
h2 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
#texte_news {
    margin-top: -10px;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color:#ddd;   
}
#date_news {
    margin-top: -10px;
    text-align: left;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color:#666;   
}
.clear {
    clear: both;   
}
.bas_gauche {
    float: left;
    width: 350px;
}
@media (max-width:768px) {
    .bas_gauche {
        float: left;
        width: 100%;
        }
}
.bas_millieu {
    margin-left: 57px;
    float: left;
    width: 350px;
}
@media (max-width:768px) {
    .bas_millieu  {
        width: 100%; 
        margin-left: 0;
    }
}
.bas_millieu h2 {
    text-transform: uppercase;  
}
.bas_millieu img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
} 
.bas_droite {
    margin-left: 57px;
    float: left;
    width: 330px;
}
@media (max-width:768px) {
    .bas_droite {
        width: 100%;
        margin-left: 0;
    }
}
h1.about {
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}
nav#icones {
    width: 600px;
    margin: auto;
}
@media (max-width:768px) {
    nav#icones {
        width: 100%;
        margin-left: -10px;
    }     
}
nav#icones ul {
    margin-left: 0;
    text-align: center;
    margin-left: -15px;
}
nav#icones ul li {

    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
.fa {
    color: #fff;
}
h3 {
    text-align: center;  
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width:768px) {
    h3 {
        font-size: 10px; 
    }
}